@tailwind base;
@tailwind components;
@tailwind utilities;

#main-content {
    background-image: linear-gradient(35deg, rgba(0, 62, 104, 0.564) 0%, rgba(181, 248, 196, 0.548) 60%, rgba(255, 221, 0, 0.493) 100%),
                      url("../addons/temp/background/main_bg.png")
}

#bg-linear {
  background: linear-gradient(35deg, rgba(0, 62, 104, 0.564) 0%, rgba(181, 248, 196, 0.548) 60%, rgba(255, 221, 0, 0.493) 100%);
  border: solid 1px;
}

#title {
  font-family: "Lora", "sans-serif";
}

#bg-linear-focus {
  background: linear-gradient(35deg, rgba(0, 62, 104, 0.564) 0%, rgba(181, 248, 196, 0.548) 60%, rgba(255, 221, 0, 0.493) 100%);
}

#bg-linear:hover {
  background: transparent; 
  background: linear-gradient(35deg, rgba(0, 62, 104, 0.564) 0%, rgba(181, 248, 196, 0.548) 60%, rgba(255, 221, 0, 0.493) 100%);
}

#profile-bg {
  background-image: url("../addons/temp/background/bg-test.jpeg");
}

#footer {
  background-image: url("../addons/temp/background/footer_bg.png");
}

#search-bar-main {
  width: 800px;
}

#secondary {
  background-image: url("../addons/temp/background/tree_bg.png");
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(0.80turn, #ffd90285, #c7f9cc95, #22577aa2); 
  border-radius: 10px;
}

#roads_suggests_container {

}

#img-auth {
  height: 750px;
  width: 800px;
}

#form_contact {
  background: white;
  width: 500px;
}

#details-control {
  width: 800px;
}

details > summary {
  list-style-type: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

#details-control summary {
  margin-left: 5px
}

details > summary::before {
  content: "▶";
  color: linear-gradient(0.80turn, #ffd90285, #c7f9cc95, #22577aa2);
  padding: 5px;
}

details[open] > summary::before {
  content: '🔽';
  padding: 5px;
}

details[open] > summary {
  margin-bottom: 1rem;
}

#middle-content-newsletter {
  position: absolute;
  left: 50%;
  margin-top: 20px;
  transform: translate(-50%, -50%);
  width: 620px;
}

#profile-container {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
  width: 620px;
  height: 300px;
}

#profile-card {
  width: 700px;
}

#traject_container {
  width: 500px;
}

#video_main {
  height: 410px;
}