@tailwind base;
@tailwind components;
@tailwind utilities;

#main-content {
    background-image: linear-gradient(0.70turn, #ffd90285, #c7f9cc95, #22577aa2),
    url("../addons/temp/background/main_bg.png");
    /*filter: contrast(1.7);*/
    filter: brightness(0.9);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
}
.appstore-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /*border: 2px solid #1F5357;*/
    border-radius: 9999px;
    background-color: #1F5357;
    padding: 0.625rem 1.5rem;
    text-align: center;
    color: #59EE5F;
    outline: 0;
    transition: all  .2s ease;
    text-decoration: none;
}

.appstore-button:hover {
    color: #1F5357;
    background-color: #59EE5F;

}

.playstore-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /*border: 2px solid  rgba(255, 255, 255, 1);*/
    border-radius: 9999px;
    background-color:  rgba(255, 255, 255, 1);
    padding: 0.625rem 1.5rem;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    outline: 0;
    transition: all  .2s ease;
    text-decoration: none;
}

.playstore-button:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 1);

}

.playstore-icon {
    height: 1.5rem;
    width: 1.5rem;
}
.appstore-icon {
    height: 1.5rem;
    width: 1.5rem;
    fill: #59EE5F;
}

.appstore-button:hover > .appstore-icon {
    fill: #1F5357;
}
.texts {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1;
}

.text-1 {
    margin-bottom: 0.25rem;
    font-size: 0.75rem;
    line-height: 1rem;
}

.text-2 {
    font-weight: 600;
}

.section-75 {
    height: 75%;
    width: 100%;
    zoom: calc(75% / 0.60);
}


#bg-linear {
    background: linear-gradient(0.80turn, #ffd90285, #c7f9cc95, #22577aa2);
    border: solid 1px;
}

#bg-linear-focus {
    background: linear-gradient(0.80turn, #ffd90285, #c7f9cc95, #22577aa2);
}

#bg-linear:hover {
    background: transparent;
    background: linear-gradient(0.80turn, #ffd90257, #c7f9cc6b, #22577a69);
}

#footer {
    background-image: url("../addons/temp/background/footer_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 25vh;
    width: 100%;
}

#search-bar-main {
    width: 800px;
    box-shadow: 1px 20px 30px rgba(0, 0, 0, 0.25);
    border-radius: 28px;
}

.divider {
    border-left: 1px solid  rgba(0, 0, 0, 0.15);
    height: 30px;
}

.order-5 button{
    border-radius: 21px;
}


#secondary {
    background-image: url("../addons/temp/background/tree_bg.png"), url("../addons/images/road.png");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(0.80turn, #ffd90285, #c7f9cc95, #22577aa2);
    border-radius: 10px;
}

#roads_suggests_container {

}

#img-auth {
    height: 750px;
    width: 800px;
}

#form_contact {
    background: linear-gradient(0.80turn, #ffd90285, #c7f9cc95, #22577aa2);
    width: 500px;
}

#details-control {
    width: 800px;
}

details > summary {
    list-style-type: none;
}

details > summary::-webkit-details-marker {
    display: none;
}

#details-control summary {
    margin-left: 5px
}

details > summary::before {
    content: '>';
    background: linear-gradient(0.80turn, #ffd90285, #c7f9cc95, #22577aa2);
    padding: 5px;
}

details[open] > summary::before {
    content: 'X';
    padding: 5px;
}

details[open] > summary {
    margin-bottom: 1rem;
}

#middle-content-newsletter {
    position: absolute;
    left: 50%;
    margin-top: 20px;
    transform: translate(-50%, -50%);
    width: 620px;
}
